.form-group.required .control-label:after { 
  content:"*";
  color:red;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

nav,footer {
background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.alert {
  max-width: 300px;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media only screen and (max-width: 768px) {
  select {
    max-width:130px;
  }

  input {
    max-width: 200px;
  }

.form-container {
  width: 233px;
}  
 .display-6 {
    font-size: 20px;
  }

  .display-7 {
    font-size: 22px;
  }

  h3 {
    font-size: small;
    margin-top: 30vh;
  }
}

@media only screen and (min-width: 768px) {
  
  .d-flex {
    margin-left: 27vw;
   
  }

  .form-container {
  
    width: 300px;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
